html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body,
img,
h1 {
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
}

.container {
    max-width: 1440px;
    width: 100%;
    height: 1024px;
    margin: 0 auto;
    background-color: #212832;
    display: flex;
}

.left {
    margin-right: 120px;
}

h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #fff;
    padding-left: 96px;
    padding-top: 258px;
}

span {
    color: #00adb4;
}

.steps {
    display: flex;
    padding-left: 118px;
}

.spring {
    padding-top: 32px;
    margin-right: 15px;
}

.human {
    margin-top: -10px;
    position: relative;
}

.ellips {
    width: 190px;
    height: 24px;
    position: absolute;
    bottom: -11px;
    left: -14px;
}

.keyboard {
    padding-top: 60px;
    padding-left: 108px;
}

.feedback-form {
    padding-left: 32px;
    padding-top: 75px;
}

.feedback {
    display: flex;
}

label {
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #eee;
    margin-bottom: 10px;
}

input {
    border-radius: 16px;
    background: rgba(57, 62, 70, 0.5);
    font-family: "Poppins";
    border: none;
    width: 288px;
    height: 59px;
    color: rgba(238, 238, 238, 0.5);
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    padding-left: 24px;
    letter-spacing: 0px;
}

.feedback-left {
    margin-right: 24px;
}

textarea {
    width: 600px;
    height: 280px;
    border-radius: 16px;
    background: rgba(57, 62, 70, 0.5);
    border: none;
    color: rgba(238, 238, 238, 0.5);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    padding-top: 16px;
    padding-left: 24px;
}

.message {
    padding-top: 24px;
}

.btn {
    padding-top: 17px;
    padding-left: 32px;
    max-height: 50px;
}

button {
    width: 232px;
    height: 47px;
    border-radius: 24px;
    background: rgba(0, 173, 181, 1);
    border: none;
    color: rgba(238, 238, 238, 1);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0px;
    display: flex;
    align-items: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    padding-left: 32px;
    cursor: pointer;
}

button:hover {
    color: rgba(0, 173, 181, 1);
    background-color: #434543;
}

.fa-telegram {
    font-size: 30px;
    padding-left: 9px;
}

.envelope {
    text-align: right;
    padding-top: 31px;
}

.envelope img {
    margin-right: 69px;
}